h1,
h2,
h3,
h4,
h5 {
  color: $col-dunkel;
}

h1,
h2 {
  line-height: 1;
}

h1 {
  font-size: 2em;
}
h3{
  text-align: right;
  font-size: 1.8em;
  line-height: 1;
  margin-bottom: 1em;
  border-bottom: 4px solid $col-dunkel;
}
p,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: .5em;
}

.more {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  float: right;
  margin-left: 1em;
  color: $col-dunkel;
  transition: 0.3s;
}

.more__1 {
  // text-decoration: none;
  // font-weight: bold;
  // text-transform: uppercase;
  // text-align: right;
  // float: right;
  // margin-left: 1em;
  // color: $col-dunkel;
  transition: 0.5s;
}

.more__2 {
  // text-decoration: none;
  // font-weight: bold;
  // text-transform: uppercase;
  // text-align: right;
  // float: right;
  // margin-left: 1em;
  // color: $col-dunkel;
  transition: 0.7s;
}
.more__3 {
  // text-decoration: none;
  // font-weight: bold;
  // text-transform: uppercase;
  // text-align: right;
  // float: right;
  // margin-left: 1em;
  // color: $col-dunkel;
  transition: .9s;
}

.more:hover,
.more:focus {
  color: $col-hilite;
}


ul {
  font-size: 17px;
  margin-bottom: 1em;
}
li {
  margin-left: 1.4em;
  line-height: 1.6;
}

.taste{
  font-size: small;
  font-weight: bold;
  background-color: $col-hellgrau;
  letter-spacing: 0.08em;
  padding: .03em .6em;
  border: 1px solid $col-dunkel;
  border-radius: 6%;
}

.code__text{
  color:$col-text;
}
.code__dType{
  color: $col-dataType;
}
.code__variable{
  color: $col-variable;
}
.code__string{
  color: $col-string;
}
.code__object{
  color: $col-object;
}
.code__number{
  color: $col-number;
}
.code__function{
  color: $col-function;
}
.code__comment{
  color: $col-comment;
}